<div class="postContainer">
<div class="postContainer">
  {{#each posts as |post|}}
<div class="card userPost-Card">
    <div  class="card-header userPost-Header navBar">
        <a class="postTitle-Home" href="/post/{{post.id}}">{{post.post_title}}</a>
        <p class="userPosted">Posted by {{post.user.user_name}} on {{post.date_created}}</p>
    </div>
  {{!-- <h5 class="card-header userPost-Header navBar">Featured</h5> --}}
  <div class="card-body post-cardBody">
    <p class="post-cardText">{{post.post_contents}}</p>
  </div>
</div>
{{/each}}
</div>
<div>
<div class="card userPost-Card">
    <div  class="card-header loginSignup-Header navBar">
    </div>
  {{!-- <h5 class="card-header userPost-Header navBar">Featured</h5> --}}
  <div class="card-body post-cardBody">
      <label class="inputLabel" for="comment_field">
      Comment:
    </label>
    <br />
    <input class="loginSignup-Input" id="comment_field" name="comment field">
      {{comment}}
    </input>
    <br />
    <a href="#" class="btn btn-secondary loginSignup-Btn">Submit</a>
  </div>
</div>
</div>
</div>